node_modules

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# TypeScript
tsconfig.tsbuildinfo

# React Router
build/
.react-router/

# Wrangler
.wrangler/
wrangler.toml
